.navButtons {
  background-color: #523906;
  color: white;
  padding: 1px 5px;
  margin: 2px 1;
  border: solid;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;

}
.cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 5px;
}

.card {
  min-width: 70px;
  min-height: 85px;
  padding: 13px;
  background-color: f4f6ff;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
  width:  300px;
  height: 300px;
  object-fit: cover;
}
.card__image:hover{
  filter: contrast(100%);

}

.logo {
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  filter: grayscale(25%);
}

.logo:hover{
filter: invert(100%);
}

.Link:hover {
   text-align: center;
   filter: saturate(500%);
       background-color: #535204;
   transition-duration: 1s;
 }

a:link {
  text-decoration: none;
  font-family: Impact;
    color: #d6efc7;
}

a:visited {
  text-decoration: none;
  font-family: Impact;
  color: #d6efc7;
}

.NavBar {
  min-height: 20px;
  background-color: rgb(98, 142, 109);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

}

.App {
  text-align: center;
}

.logo {

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
